@import "tailwindcss";

@theme {
  /* Tons foncés - Textes et fonds sombres */
  --color-dark: #0F172A; /* Bleu très foncé */
  --color-dark-secondary: #151B26; /* Gris-bleu clair */
  --color-dark-lighter: #1F2937; /* Bleu foncé moyen */
  --color-dark-light: #334155; /* Gris-bleu */

  --color-accent-green: #10B981; /* Vert clair - Accents et éléments interactifs */
  --color-accent-blue: #60A5FA; /* Bleu clair - Accents */
  --color-accent-red: #EF4444; /* Rouge clair - Accents et erreurs */
  
  /* Tons clairs - Fonds et surfaces */
  --color-neutral: #E2E8F0; /* Gris clair */
  --color-neutral-lighter: #E5E7EB; /* Gris rosé clair */
  --color-neutral-lightest: #F8FAFC; /* Blanc cassé */
  --color-grey-light: #9CA3AF; /* Gris moyen - Textes secondaires et éléments neutres */
  --color-grey-medium: #94A3B8; /* Gris moyen - Textes secondaires et éléments neutres */

}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-poppins), "Poppins", sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
