@import "tailwindcss";

@theme {
  /* Tons foncés - Textes et fonds sombres */
  --color-dark: #0F172A; /* Bleu très foncé */
  --color-dark-lighter: #1E293B; /* Bleu foncé moyen */
  --color-dark-light: #334155; /* Gris-bleu */

  --color-accent-green: #10B981; /* Vert clair - Accents et éléments interactifs */
  --color-accent-blue: #60A5FA; /* Bleu clair - Accents
  
  /* Tons clairs - Fonds et surfaces */
  --color-neutral: #E2E8F0; /* Gris clair */
  --color-neutral-lighter: #EBE6E7; /* Gris rosé clair */
  --color-neutral-lightest: #F6F3F4; /* Blanc cassé */
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: var(--font-poppins), "Poppins", sans-serif;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
